/* INI KOMEN */
/* CSS STYLE UNTUK HTML QUE */
h1 {
	font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align:center;
	background-color: lightcyan;
	border: 2px solid lightblue 
}
h3 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
}
h2 { 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: large;
}
p {
	text-align: left;
}
img {
	width: 70%;
}
body {
	background-color: white;
}